canonifyURLs = false
relativeURLs = false
baseURL = "/"
title = "MeshLab"
theme = "hugoplate"
timeZone = "Europe/Oslo"
# post excerpt
summaryLength = 10 # see https://gohugo.io/content-management/summaries/#automatic-summary
disableLanguages = [
] # example: ["fr"] for disable french language. see https://gohugo.io/content-management/multilingual/
hasCJKLanguage = false
# default language
defaultContentLanguage = 'en'
defaultContentLanguageInSubdir = false

[services]
[services.googleAnalytics]
ID = ''

[services.disqus]
# we use disqus to show comments in blog posts. 
# To install disqus please follow this tutorial:
# https://portfolio.peter-baumgartner.net/2017/09/10/how-to-install-disqus-on-hugo/
shortname = 'themefisher-template' 

[permalinks.page]
"pages" = "/:slugorcontentbasename/"


[pagination]
disableAliases = false
pagerSize = 10
path = 'page'


[build]
[build.buildStats]
enable = true
[[build.cachebusters]]
source = 'assets/notwatching/hugo_stats\.json'
target = 'css'

[module]
[[module.mounts]]
source = 'assets'
target = 'assets'
[[module.mounts]]
disableWatch = true
source = 'hugo_stats.json'
target = 'assets/notwatching/hugo_stats.json'


[outputs]
home = ["HTML", "RSS", "WebAppManifest", "SearchIndex"]

[imaging]
# See https://github.com/disintegration/imaging
# Default JPEG or WebP quality setting. Default is 75.
quality = 80
resampleFilter = "Lanczos"

[caches]
[caches.images]
dir = ":resourceDir/_gen"
maxAge = "720h"

[caches.assets]
dir = ":resourceDir/_gen"
maxAge = "720h"


[markup]
[markup.goldmark.renderer]
unsafe = true

[markup.highlight]
style = 'monokai' # see https://xyproto.github.io/splash/docs/all.html
lineNumbersInTable = false

[markup.tableOfContents]
startLevel = 2
endLevel = 5
ordered = true


[mediaTypes]
[mediaTypes."application/manifest+json"]
suffixes = ["webmanifest"]


[outputFormats]
[outputFormats.WebAppManifest]
mediaType = "application/manifest+json"
rel = "manifest"

[outputFormats.SearchIndex]
mediaType = "application/json"
baseName = "searchindex"
isPlainText = true
notAlternative = true


[[params.plugins.css]]
link = "plugins/swiper/swiper-bundle.css" # https://github.com/gethugothemes/hugo-modules/tree/master/gallery-slider
lazy = true
[[params.plugins.css]]
link = "plugins/glightbox/glightbox.css" 
# https://github.com/gethugothemes/hugo-modules/tree/master/gallery-slider
lazy = true
[[params.plugins.css]]
link = "plugins/font-awesome/v6/brands.css" 
# https://github.com/gethugothemes/hugo-modules/tree/master/icons/font-awesome
lazy = true
[[params.plugins.css]]
link = "plugins/font-awesome/v6/solid.css"
lazy = true
[[params.plugins.css]]
link = "plugins/font-awesome/v6/icons.css"
lazy = true

# JS Plugins
[[params.plugins.js]]
link = "js/search.js" # https://github.com/gethugothemes/hugo-modules/tree/master/search
lazy = false
[[params.plugins.js]]
link = "plugins/swiper/swiper-bundle.js" 
# https://github.com/gethugothemes/hugo-modules/tree/master/gallery-slider
lazy = false
[[params.plugins.js]]
link = "plugins/glightbox/glightbox.js" # https://github.com/gethugothemes/hugo-modules/tree/master/gallery-slider
lazy = true
[[params.plugins.js]]
link = "js/gallery-slider.js" # https://github.com/gethugothemes/hugo-modules/tree/master/gallery-slider
lazy = true
[[params.plugins.js]]
link = "plugins/cookie.js" # https://github.com/gethugothemes/hugo-modules/tree/master/components/cookie-consent
lazy = false
[[params.plugins.js]]
link = "js/accordion.js" # https://github.com/gethugothemes/hugo-modules/tree/master/accordion
lazy = true
[[params.plugins.js]] 
link = "js/tab.js" # https://github.com/gethugothemes/hugo-modules/tree/master/accordion
lazy = true
[[params.plugins.js]]
link = "js/modal.js" # https://github.com/gethugothemes/hugo-modules/tree/master/modal
lazy = true
[[params.plugins.js]]
link = "plugins/youtube-lite.js" # https://github.com/gethugothemes/hugo-modules/tree/master/videos
lazy = true
